[Unit]
Description=Translates macropad input to usable signals
After=graphical-session.target

[Service]
Environment="DISPLAY=$DISPLAY"
WorkingDirectory=/opt/romopad/
ExecStart=/opt/romopad/romopad --svc start
ExecStop=/opt/romopad/romopad --svc stop
KillMode=process

[Install]
WantedBy=graphical-session.target
