[Unit]
Description=Translates macropad input to usable signals

[Service]
WorkingDirectory=/opt/romopad
ExecStart=/opt/romopad/romopad.py --svc start
ExecStop=/opt/romopad/romopad.py --svc stop
KillMode=process


[Install]
WantedBy=default.target
